*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.alive{
    background-color:mediumblue;
}

td{
    height:10px;
    width:10px;
    border:1px solid #A0A0A0;
    cursor:pointer;
}

table{
    border-collapse:collapse;
    table-layout: fixed;
    border: 2px solid #808080;
    box-shadow: inset 0 1px 3px #ddd;
}

tr{
    border:1px solid #A0A0A0;
}

.left{
    float:left;
    margin-right:20px;
    margin-left:20px;
}

.subtitle {
    font-size:20px;
    padding-bottom:10px;
}

.red{
    font-size:20px;
    color:crimson;
    margin-top:20px;
}

.red.invisible{
    display:none;
}

.label{
    width:200px;
    display:block;
    margin-bottom:10px;
}

input {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right:7px;

}