<div class="left">
    <div class="top_bar">
        <div class="subtitle">Controls</div>
        Grid size : <input [(ngModel)]="inputSize" placeholder="10"/>
        <input type="button" value="↻" (click)="initGrid()">
        <input type="button" value="▶" (click)="run()">
        <input type="button" value="◼" (click)="stop()">
    </div>

    <div class="top_bar">
        <div id="indexGeneration" [class.invisible]="indexGeneration == 0" class="red">{{indexGeneration}}</div>
    </div>
</div>

<div class="right">
    <table>
        <tr *ngFor="let y of size; let Ypos = index">
            <td *ngFor="let x of size; let Xpos = index" id="{{Xpos}}-{{Ypos}}" [class.alive]="getCell(Xpos,Ypos)" (click)="onClick(Xpos,Ypos)">
            </td>
        </tr>
    </table>

</div>


