
.top_bar{
    width:500px;
    margin-left:20px;
    margin-top:20px;
}

.header{
    font-size:25px;
    height:40px;
    background-color:#24292e;
    padding:10px;
    padding-left:20px;
    color:white;
    margin-bottom:50px;

}

.header img {
    padding:5px;
    border-radius : 100px;
}

